.app-data-table-container{
  max-width: 80%;
  margin-top: 40px;
  overflow: scroll;
}
.mat-mdc-cell{
  min-width: 100px;
  max-width: 300px;
  overflow: scroll;
}
.data-table-identifier{
  white-space: normal;
  word-wrap: break-word;
}
.app-data-table-container th {
  position: sticky;
  top: 0;
  background-color: lightgray;
}

